@model ICollection<DuAn.Models.RoleAccount>

@*<div class="radio-list">
        @foreach (var i in Model)
        {
            <label class="radio">
                @if (i.Role.Equals(ViewBag.RoleAccEdit))
                {
                    <input type="radio" name="role" value="@i.ID" checked />@i.Role
                }
                else
                {
                    <input type="radio" name="role" value="@i.ID" />@i.Role
                }
                <span></span>
            </label>
        }
    </div>*@
<select class="form-control" id="role_change" onchange="changeRole()">
        @foreach (var i in Model)
        {
            if (i.Role.Equals(ViewBag.RoleAccEdit))
            {
                <option style="height: 200%;" value="@i.ID" selected>@i.Role</option>
            }
            else
            {
                <option style="height: 200%;" value="@i.ID">@i.Role</option>
            }
        }
    </select>

<script>
    function changeRole() {
        document.getElementById('result').innerText = "";
    }
</script>