@model DuAn.Models.CustomModel.AccountDetail

<!--end::Fonts-->
<!--begin::Page Vendors Styles(used by this page)-->
<!--end::Page Vendors Styles-->
<!--begin::Global Theme Styles(used by all pages)-->
<!--begin::Card-->
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content card card-custom gutter-b example example-compact">
        <!--Card header-->
        <div class="card-header">

        </div>
        <!--begin::Form-->
        <form class="form">
            <div class="card-body">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control form-control-solid" placeholder="ID" id="id" value="@Model.ID" disabled />
                    @*<span class="form-text text-muted">You can't edit this field</span>*@
                </div>
                <div class="form-group">
                    <label>User Name:</label>
                    <input type="text" class="form-control form-control-solid" placeholder="Username" id="username" value="@Model.Username" disabled />
                    @*<span class="form-text text-muted">You can't edit this field</span>*@
                </div>
                <div class="form-group">
                    <label>Full Name:</label>
                    <input type="text" class="form-control form-control-solid" placeholder="Fullname" id="fullname" value="@Model.Fullname" />
                    <span class="form-text text-muted">Please enter your full name</span>
                </div>
                <div class="form-group">
                    <label>Birth of date:</label>
                    <div class="input-append date form_datetime">
                        <input class="form-control form-control-solid" type="text" id="dob" data-dob="@Model.DOB" readonly>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <script type="text/javascript">
                        $(".form_datetime").datetimepicker({
                            format: "Y-m-d",
                            autoclose: true,
                            value: '2020-2-2'
                        });
                    </script>                
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input type="text" class="form-control form-control-solid" placeholder="Phone" id="phone" value="@Model.Phone" />
                    <span class="form-text text-muted">Please enter your phone</span>
                </div>
                <div class="form-group">
                    <label>Email :</label>
                    <input type="email" class="form-control form-control-solid" placeholder="Email" id="email" value="@Model.Email" />
                    <span class="form-text text-muted">Please enter your Email</span>
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input type="email" class="form-control form-control-solid" placeholder="Address" id="address" value="@Model.Address" />
                    <span class="form-text text-muted">Please enter your Address</span>
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input type="email" class="form-control form-control-solid" placeholder="Identify Code" id="icode" value="@Model.IdentifyCode" />
                    <span class="form-text text-muted">Please enter your IdentifyCode</span>
                </div>
                <div class="form-group" id="all-role" data-role="@Model.Role">
                    <label>Role:</label>
                </div>
            </div>
        </form>
        <!--end::Form-->
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal" id="submit">Save changes</button>
        </div>
    </div>
</div>
<!--end::Card-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script>
    $(document).ready(function () {
        var url = "@Url.Action("GetAllRole", "RoleAccount")";
        var role = $('#all-role').attr('data-role');
			$.ajax({
				url: url,
				type: 'POST',
				data: {
                    role: role
                },
                success: function (data) {
                    $('#all-role').append(data);
				},
				error: function (data) {
					alert("Error load ajax get role");
				}
			});
    });
    $('#submit').on('click', function () {
        var id = document.getElementById('id').value;
        var fullname = document.getElementById('fullname').value;
        var phone = document.getElementById('phone').value;
        var email = document.getElementById('email').value;
        var address = document.getElementById('address').value;
        var icode = document.getElementById('icode').value;
        var dob = document.getElementById('dob').value;
        var dob = document.getElementById('dob').value;
        var roleID = $("input:radio[name ='role']:checked").val();
        $.ajax({
            url: "@Url.Action("UpdateAccount", "Account")",
            type: 'POST',
            data: {
                id: id,
                fullname: fullname,
                phone: phone,
                email: email,
                address: address,
                icode: icode,
                dob: dob,
                roleID: roleID
            },
            success: function (data) {
                if (data) {
                    alert("update success");
                } else {
                    alert("Error update account");
                }
                
            },
            error: function (data) {
                alert("Error load udapte accout");
            }
        });
    });
</script>