@model DuAn.Models.CustomModel.AccountDetail

<!--end::Fonts-->
<!--begin::Page Vendors Styles(used by this page)-->
<!--end::Page Vendors Styles-->
<!--begin::Global Theme Styles(used by all pages)-->
<!--begin::Card-->
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content card card-custom gutter-b example example-compact">
        <!--Card header-->
        <div class="card-header">

        </div>
        <!--begin::Form-->
        <form class="form">
            <div class="card-body">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control form-control-solid" placeholder="ID" id="id" value="@Model.ID" disabled />
                    @*<span class="form-text text-muted">You can't edit this field</span>*@
                </div>
                <div class="form-group">
                    <label>Tên đăng nhập :</label>
                    <input type="text" class="form-control form-control-solid" placeholder="Username" id="username" value="@Model.Username" />
                    @*<span class="form-text text-muted">You can't edit this field</span>*@
                </div>
                <div class="form-group">
                    <label>Họ và tên :</label>
                    <input type="text" class="form-control form-control-solid" placeholder="Fullname" id="fullname" value="@Model.Fullname" />
                    <span class="form-text text-muted">Nhập họ và tên đây đủ</span>
                </div>
                <div class="form-group">
                    <label>Sinh ngày :</label>
                    <div class="datepicker date input-group p-0 shadow-sm" data-dob="@Model.DOB">
                        <input type="text" placeholder="Date of birth" class="form-control" id="dob" readonly>
                        <div class="input-group-append"><span class="input-group-text px-4"><i class="fa fa-calendar"></i></span></div>
                    </div>
                    @*<div class="input-append date form_datetime">
                            <input class="form-control form-control-solid" type="text" id="dob" data-dob="@Model.DOB" readonly>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>*@
                    <script type="text/javascript">
                        var dob = new Date($('.datepicker').attr('data-dob'));
                        $('.datepicker').datepicker({
                            clearBtn: true,
                            format: "dd - MM - yyyy"
                        });
                        $('.datepicker').datepicker('setDate', dob);
                    </script>
                </div>
                <div class="form-group">
                    <label>Số điện thoại :</label>
                    <input type="text" class="form-control form-control-solid" placeholder="Phone" id="phone" value="@Model.Phone" />
                    <span class="form-text text-muted">Nhập số điện thoại liên hệ</span>
                </div>
                <div class="form-group">
                    <label>Email :</label>
                    <input type="email" class="form-control form-control-solid" placeholder="Email" id="email" value="@Model.Email" />
                    <span class="form-text text-muted">Nhập địa chỉ Email liên hệ</span>
                </div>
                <div class="form-group">
                    <label>Địa chỉ :</label>
                    <input type="email" class="form-control form-control-solid" placeholder="Address" id="address" value="@Model.Address" />
                    <span class="form-text text-muted">Nhập địa chỉ nơi ở hiện tại</span>
                </div>
                <div class="form-group">
                    <label>CMND / CCCD :</label>
                    <input type="email" class="form-control form-control-solid" placeholder="Identify Code" id="icode" value="@Model.IdentifyCode" />
                    <span class="form-text text-muted">Nhập chứng minh nhân dân / căn cước công dân</span>
                </div>
                <div class="form-group" style="margin-right: 20px" id="all-role" data-role="@Model.Role">
                    <label>Vai trò :</label>
                </div>
            </div>
        </form>
        <!--end::Form-->
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal" id="submit">Lưu thay đổi</button>
        </div>
    </div>
</div>
<!--end::Card-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script>
    // if edit
    var checkAcc = document.getElementById("username");
    if (@Model.ID != 0) {
        checkAcc.setAttribute("disabled", "");
    }

    $(document).ready(function () {
        var url = "@Url.Action("AllRole", "RoleAccount")";
        var role = $('#all-role').attr('data-role');
			$.ajax({
				url: url,
				type: 'POST',
				data: {
                    role: role
                },
                success: function (data) {
                    $('#all-role').append(data);
				},
				error: function (data) {
					alert("Error load ajax get role");
				}
			});
    });
    $('#submit').on('click', function () {
        var id = document.getElementById('id').value;
        var username = document.getElementById('username').value;
        var fullname = document.getElementById('fullname').value;
        var phone = document.getElementById('phone').value;
        var email = document.getElementById('email').value;
        var address = document.getElementById('address').value;
        var icode = document.getElementById('icode').value;
        var dob = document.getElementById('dob').value;
        var roleID = $('#role_change').children("option:selected").val();

        if (id != 0) {
            url =  "@Url.Action("UpdateAccount", "Account")";
        } else {
             url = "@Url.Action("InsertAccount", "Account")";
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                id: id,
                username: username,
                fullname: fullname,
                phone: phone,
                email: email,
                address: address,
                icode: icode,
                dob: dob,
                roleID: roleID
            },
            success: function (data) {
                if (data != "success") {
                    alert(data);
                }
            },
            error: function (data) {
                alert("Error load insert/udapte accout");
            }
        });
    });
</script>