@model IList<DuAn.Models.CustomModel.CongSuatMaxMinModelView>
<style>
    #custom_ccmm_datatable, #custom_ccmm_datatable th, #custom_ccmm_datatable td {
        border: 1px solid #BDBDBD !important;
        border-collapse: collapse;
    }
</style>
<table id="custom_ccmm_datatable" class="table table-bordered table-hover table-checkable table-striped display">
    <thead>
        <tr>
            <th class="text-center align-middle">Điểm đo</th>
            <th class="text-center align-middle">Kênh</th>
            <th class="text-center align-middle">Công suất MAX</th>
            <th class="text-center align-middle">Chu ky công suất MAX</th>
            <th class="text-center align-middle">Công suất MIN</th>
            <th class="text-center align-middle">Chu ky công suất MIN</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @{string tendiemdo = ""; }
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        if (item.TenDiemDo != tendiemdo)
                        {
                            tendiemdo = item.TenDiemDo;
                            <td rowspan="4" class="text-center align-middle">@item.TenDiemDo</td>
                        }
                    }
                    <td>@item.Kenh</td>
                    <td>@item.GiaTriMax</td>
                    <td>@item.ChuKyMax</td>
                    <td>@item.GiaTriMin</td>
                    <td>@item.ChuKyMin</td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td class="text-center  align-middle" colspan="6">Không có dữ liệu</td>
            </tr>
        </tbody>
    }
</table>