@model DuAn.Models.DbModel.Account
<div class="card card-custom card-stretch">
    <!--begin::Header-->
    <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
            <h3 class="card-label font-weight-bolder text-dark">Thông tin cá nhân</h3>
            <span class="text-muted font-weight-bold font-size-sm mt-1">Cập nhật thông tin cá nhân</span>
        </div>
        <div class="card-toolbar d-none d-md-block">
            <button type="submit" class="btn btn-success mr-2" onclick="submitForm()">Lưu thay đổi</button>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="card-body">
        <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
                <h5 class="font-weight-bold mb-6">Thông tin tài khoản</h5>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Ảnh đại diện:</label>
            <div class="col-lg-9 col-xl-6">
                <div class="image-input image-input-outline" id="kt_user_add_avatar" )">
                    <div class="image-input-wrapper" style="background-image: url('../images/avatarAccount/@Model.Avatar')"></div>
                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Thay đổi">
                        <i class="fa fa-pen icon-sm text-muted"></i>
                        <input type="file" id="avatar" name="avatar" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="profile_avatar_remove" />
                    </label>
                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Hủy bỏ">
                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>
                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="" data-original-title="Xóa">
                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>
                </div>
                <span class="form-text text-muted">Định dạng phù hợp : png, jpg, jpeg.</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Tên đầy đủ</label>
            <div class="col-lg-9 col-xl-6">
                <input class="form-control form-control-lg form-control-solid" id="fullname" type="text" value="@Model.Fullname">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Sinh ngày</label>
            <div class="col-lg-9 col-xl-6">
                <div class="datepickerDiv date input-group p-0 shadow-sm" width="100% !important">
                    <input type="text" value="@Model.DOB.ToString("dd/MM/yyyy")" class="form-control form-control-lg form-control-solid" id="dob" readonly>
                    <div class="input-group-append"><span class="input-group-text" style="border:none"><i class="fa fa-calendar"></i></span></div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Địa chỉ</label>
            <div class="col-lg-9 col-xl-6">
                <input class="form-control form-control-lg form-control-solid" id="address" type="text" value="@Model.Address">
            </div>
        </div>
        <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
                <h5 class="font-weight-bold mt-10 mb-6">Thông tin liên hệ</h5>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Số điện thoại</label>
            <div class="col-lg-9 col-xl-6">
                <div class="input-group input-group-lg input-group-solid">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="la la-phone"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control form-control-lg form-control-solid" id="phone" value="@Model.Phone" placeholder="Phone">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Email</label>
            <div class="col-lg-9 col-xl-6">
                <div class="input-group input-group-lg input-group-solid">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="la la-at"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control form-control-lg form-control-solid" id="email" value="@Model.Email" placeholder="Email">
                </div>
            </div>
        </div>
    </div>
    <!--end::Form-->
    <div class="card-footer d-block d-md-none">
        <div class="card-toolbar">
            <button type="submit" class="btn btn-success mr-2">Lưu thay đổi</button>
        </div>
    </div>
</div>
<script src="~/Scripts/assets/js/scripts.bundle.js"></script>
<script>
    var _avatar = new KTImageInput('kt_user_add_avatar');
    $(document).ready(function () {
        $('.datepickerDiv').datepicker({
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
    });
</script>