@using DuAn.Models.CustomModel;
@using DuAn.Models;
@model ThongSoPatialModel
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 350px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
    tr.hide-table-padding td {
        padding: 0;
    }
    .table tbody > tr > td {
        vertical-align: middle !important;
    }
    .click-chitiet {
        margin: auto;
    }
    table.table.table-condensed {
        border: 1px solid black;
    }
</style>
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thông số vận hành</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row mb-2">
                <div class="col-3 mr-3">
                    <select class="form-control bg-primary text-white" onchange="selectionChange()" id="diemDo">
                        <option value="" hidden selected>Điểm đo</option>
                        <option value="" class="bg-white text-dark">Tất cả</option>
                        @for (int i=0;i< Model.allDiemDo.Count();i++)
                        {
                            <option value="@Model.allDiemDo[i].ID" @Model.getDiemDoAttr(i) class="bg-white text-dark">@Model.allDiemDo[i].TenDiemDo</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control bg-primary text-white" onchange="selectionChange()" id="thoiGian">
                        <option value="" hidden selected>Thời gian</option>
                        <option value="" class="bg-white text-dark">Tất cả</option>
                        @for (int i=0;i<Model.dateDistinc.Count();i++)
                        {
                            <option value="@Model.dateDistinc[i].ToString("dd/MM/yyyy")" @Model.getThoiGianAttr(i) class="bg-white text-dark">@Model.dateDistinc[i].ToString("dd/MM/yyyy")</option>
                        }
                    </select>
                </div>
            </div>
            <div class="">
                <table class="table table-borderless myTable text-center">
                    <thead>
                        <tr style="background: #d1d1d1" class="bg-primary text-white">
                            <th scope="col">STT</th>
                            <th scope="col">Điểm đo</th>
                            <th scope="col">Thời điểm đọc</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.thongSo.Count; i++)
                        {
                            <tr class="border-bottom">
                                <td>@{var stt = i + 1; @stt}</td>
                                <td>
                                    @Model.thongSo[i].TenDiemDo
                                </td>
                                <td>
                                    @Model.getTime(Model.thongSo[i].thongSo.ThoiGianCongTo)
                                </td>
                                <td><p class="btn btn-success click-chitiet" data-toggle="collapse" data-target="@("#accordion" + i)" data-value="@i">Chi tiết</p></td>
                            </tr>
                            <tr class="hide-table-padding border-bottom" style="background:none">
                                <td colspan="4">
                                    <div id="@("accordion" + i)" class="collapse">
                                        <table class="table table-bordered table-condensed table-hover mt-4 mb-4 mb-0 text-right">
                                            <thead>
                                                <tr class="bg-secondary text-center">
                                                    <th scope="col"></th>
                                                    <th scope="col">Thấp điểm</th>
                                                    <th scope="col">Bình thường</th>
                                                    <th scope="col">Cao điểm</th>
                                                    <th scope="col">Tổng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left" style="border-right: 2px solid #DCDCDC;font-weight:bold;"><div class="ml-2">P giao (MW)</div></td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.P_Giao_TD)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.P_Giao_BT)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.P_Giao_CD)</div>
                                                    </td>
                                                    <td >
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.P_Giao)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" style="border-right: 2px solid #DCDCDC;font-weight:bold;"><div class="ml-2">P nhận (MW)</div></td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.P_Nhan_TD)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.P_Nhan_BT)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.P_Nhan_CD)</div>
                                                    </td>
                                                    <td>
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.P_Nhan)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" style="border-right: 2px solid #DCDCDC;font-weight:bold;"><div class="ml-2">Q giao (MVar)</div></td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                    </td>
                                                    <td>
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.Q_Giao)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" style="border-right: 2px solid #DCDCDC;font-weight:bold;"><div class="ml-2">Q nhận (MVar)</div></td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC">
                                                    </td>
                                                    <td>
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.Q_Nhan)</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-condensed table-hover mb-4 text-right">
                                            <thead>
                                                <tr class="bg-secondary text-center">
                                                    <th></th>
                                                    <th>Dòng điện (A)</th>
                                                    <th>Điện áp (V)</th>
                                                    <th>Hệ số công suất</th>
                                                    <th>Tần số (Hz)</th>
                                                    <th>Góc pha</th>
                                                    <th>Chiều quay</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left" style="border-right: 2px solid #DCDCDC;font-weight:bold;"><div class="ml-2">Pha A</div></td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseA_Amps)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseA_Volts)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseA_PowerFactor)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseA_Frequency)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseA_Angle)</div>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" style="border-right: 2px solid #DCDCDC;font-weight:bold;"><div class="ml-2">Pha B</div></td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseB_Amps)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseB_Volts)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseB_PowerFactor)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseB_Frequency)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseB_Angle)</div>
                                                    </td>
                                                    <td class="text-center">
                                                        @Model.thongSo[i].thongSo.Phase_Rotation
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" style="border-right: 2px solid #DCDCDC;font-weight:bold;"><div class="ml-2">Pha C</div></td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseC_Amps)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseC_Volts)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseC_PowerFactor)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseC_Frequency)</div>
                                                    </td>
                                                    <td style="border-right: 2px solid #DCDCDC;">
                                                        <div class="mr-2">@Model.formatNumber(Model.thongSo[i].thongSo.PhaseC_Angle)</div>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script>
    function selectionChange() {
        var url = "@Url.Action("getModalThongSo", "Home")";
        var id = document.getElementById("diemDo").value;
        var date = document.getElementById("thoiGian").value;
        $.ajax({
            cache: false,
            url: url,
            data: { date: date , id: id},
            success: function (data) {
                $('#modalThongSo').html();
                $('#modalThongSo').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }
</script>