@model DuAn.Models.DbModel.Account
@{
    ViewBag.Title = "Profile";
}
<style>
    .ui-datepicker.ui-datepicker-inline {
        width: 100% !important;
    }
</style>

<div class=" container">
    <div class="row">
        <!--begin::Aside-->
        <div class="col-12 col-md-4 mb-4" id="kt_profile_aside">
            <!--begin::Profile Card-->
            
            <!--end::Profile Card-->
        </div>
        <!--end::Aside-->
        <!--begin::Content-->
        <div class="col-12 col-md-8 mb-4" id="partial">
            <!--begin::Card-->
            
        </div>
        <!--end::Content-->
    </div>
</div>
<script src="~/Scripts/LayoutJS/Layout.js"></script>
<script src="~/Scripts/assets/js/scripts.bundle.js"></script>
<script>
        capNhatPageDirectory('Thông tin người dùng',['Hồ sơ'])
        renderProfileSide();
        $(document).ready(function () {
            changePartial('infoButton');
        });

    function renderProfileSide() {
        $.ajax({
            url: "@Url.Action("ProfilePartial","Home")",
            type: 'POST',
            processData: false,
            contentType: false,
            success: function (data) {
                $('#kt_profile_aside').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                showMessage("Lấy thông tin người dùng thất bại", false)
            }
        });
    }
        function submitForm(){
            var avatar = document.getElementById('avatar');
            var formData = new FormData();

            formData.append('avatar', avatar.files[0]);

            var fullname = document.getElementById('fullname').value;
            formData.append('fullname', fullname);

            var phone = document.getElementById('phone').value;
            formData.append('phone', phone);

            var email = document.getElementById('email').value;
            formData.append('email', email);

            var address = document.getElementById('address').value;
            formData.append('address', address);

            var dob = document.getElementById('dob').value;
            formData.append('dob', dob);

            var id = "@Model.ID";
            formData.append('id', id);

            $.ajax({
                url: "@Url.Action("ChangeInfo","Home")",
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if (data != "success") {
                        showMessage("Cập nhật tài khoản thất bại", false);
                    } else {
                        showMessage("Cập nhật tài khoản thành công", true);
                        renderProfileSide();
                        $.ajax({
                        url: "@Url.Action("layoutUser","Home")",
                        type: 'GET',
                            success: function (data) {
                                $("#layoutUser").html(data);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    showMessage("Lỗi thay đổi mật khẩu", false)
                                }
                            });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    showMessage("Cập nhật tài khoản thất bại", false)
                }
            });
    }
    function changePartial(id) {
        var url = '';
        if (id == 'infoButton') {
            if (!$('#infoButton').hasClass('active')) {
                $('#infoButton').addClass('active');
            }
            if ($('#passwordButton').hasClass('active')) {
                $('#passwordButton').removeClass('active');
            }
            url = "@Url.Action("ChangeInfoPartial", "Home")";
        }
        else {
            if ($('#infoButton').hasClass('active')) {
                $('#infoButton').removeClass('active');
            }
            if (!$('#passwordButton').hasClass('active')) {
                $('#passwordButton').addClass('active');
            }
            url = "@Url.Action("ChangePasswordPartial", "Home")";
        }
        $.ajax({
            url: url,
            type: 'POST',
            processData: false,
            contentType: false,
            success: function (data) {
                $('#partial').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                showMessage("Cập nhật tài khoản thất bại", false)
            }
        });
    }
</script>